@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family:"Lexend", serif;
  width: 3/4;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}


